In [2]:
import pandas as pd
import scipy as stats
from datetime import datetime

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [4]:
individual_data= "Dow Data/DOW Data.csv"
individual_industry= 'Dow Data/DOW Names.csv'

In [5]:
individual_df = pd.read_csv(individual_data)
industry_df= pd.read_csv(individual_industry)

In [6]:
individual_df

,Date,Open,High,Low,Close,Volume,Name
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL
...,...,...,...,...,...,...,...
36448,12/23/19,58.709999,59.000000,58.419998,58.570000,4813200,WBA
36449,12/24/19,58.900002,58.919998,58.279999,58.349998,1475400,WBA
36450,12/26/19,58.340000,59.020000,58.299999,58.900002,2736100,WBA
36451,12/27/19,58.919998,59.029999,58.380001,59.020000,3647600,WBA
36452,12/30/19,59.090000,59.599998,58.810001,58.910000,3264500,WBA

In [7]:
industry_df

,Stock Name,Ticker,Industry,Sector
0,3M Company,MMM,Specialty Industrial Machinery,Industrials
1,American Express Company,AXP,Credit Services,Financial Services
2,Apple Inc.,AAPL,Consumer Electronics,Technology
3,The Boeing Company,BA,Aerospace & Defense,Industrials
4,Caterpillar Inc.,CAT,Farm & Heavy Construction Machinery,Industrials
5,Chevron Corporation,CVX,Oil & Gas Integrated,Energy
6,"Cisco Systems, Inc.",CSCO,Communication Equipment,Technology
7,The Coca-Cola Company,KO,Beverages?Non-Alcoholic,Consumer Defensive
8,The Walt Disney Company,DIS,Entertainment,Communication Services
9,Dow Inc.,DOW,Chemicals,Basic Materials
10,Exxon Mobil Corporation,XOM,Oil & Gas Integrated,Energy
11,"The Goldman Sachs Group, Inc.",GS,Capital Markets,Financial Services
12,"The Home Depot, Inc.",HD,Home Improvement Retail,Consumer Cyclical
13,International Business Machines Corporation,IBM,Information Technology Services,Technology
14,Intel Corporation,INTC,Semiconductors,Technology
15,Johnson & Johnson,JNJ,Drug Manufacturers?General,Healthcare
16,JPMorgan Chase & Co.,JPM,Banks?Diversified,Financial Services
17,McDonald's Corporation,MCD,Restaurants,Consumer Cyclical
18,"Merck & Co., Inc.",MRK,Drug Manufacturers?General,Healthcare
19,Microsoft Corporation,MSFT,Software?Infrastructure,Technology
20,"NIKE, Inc.",NKE,Footwear & Accessories,Consumer Cyclical
21,Pfizer Inc.,PFE,Drug Manufacturers?General,Healthcare
22,The Procter & Gamble Company,PG,Household & Personal Products,Consumer Defensive
23,"The Travelers Companies, Inc.",TRV,Insurance?Property & Casualty,Financial Services
24,Raytheon Technologies Corporation,RTX,Aerospace & Defense,Industrials
25,UnitedHealth,UNH,Healthcare Plans,Healthcare
26,Verizon Communications Inc.,VZ,Telecom Services,Communication Services
27,Visa Inc.,V,Credit Services,Financial Services
28,"Walgreens Boots Alliance, Inc",WBA,Pharmaceutical Retailers,Healthcare
29,Wal-Mart Inc.,WMT,Discount Stores,Consumer Defensive

In [8]:
industry_df.rename(columns = {'Ticker':'Symbol'}, inplace=True)

In [9]:
individual_df.rename(columns={'Name': "Symbol"}, inplace= True)

In [10]:
stocks_df=individual_df.merge(industry_df, on="Symbol")
stocks_df.head(10)

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology
5,1/9/15,112.669998,113.250000,110.209999,112.010002,53699500,AAPL,Apple Inc.,Consumer Electronics,Technology
6,1/12/15,112.599998,112.629997,108.800003,109.250000,49650800,AAPL,Apple Inc.,Consumer Electronics,Technology
7,1/13/15,111.430000,112.800003,108.910004,110.220001,67091900,AAPL,Apple Inc.,Consumer Electronics,Technology
8,1/14/15,109.040001,110.489998,108.500000,109.800003,48956600,AAPL,Apple Inc.,Consumer Electronics,Technology
9,1/15/15,110.000000,110.059998,106.660004,106.820000,60014000,AAPL,Apple Inc.,Consumer Electronics,Technology

In [11]:
stocks_df['Daily Change'] = stocks_df['Close'] - stocks_df['Open']
max_value=stocks_df["Daily Change"].max()
max_day_profit=stocks_df.loc[(stocks_df['Daily Change']== max_value)]
max_day_profit

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change
4823,3/11/19,371.269989,402.670013,365.549988,400.01001,34742200,BA,The Boeing Company,Aerospace & Defense,Industrials,28.740021

In [12]:
group_by_individual = stocks_df.groupby('Symbol')
daily_max_per_stock=group_by_individual['Daily Change'].max()
stock_daily_max=pd.DataFrame({"Daily Max Per Stock": daily_max_per_stock})
stock_daily_max.head()

        Daily Max Per Stock
Symbol
AAPL               8.869995
AXP                4.720001
BA                28.740021
CAT                8.339997
CSCO               1.839996

In [13]:
stock_daily_max = stock_daily_max.reset_index()
stock_daily_max.loc[stock_daily_max['Symbol']=='BA']

  Symbol  Daily Max Per Stock
2     BA            28.740021

In [14]:
stock_daily_max.sort_values('Daily Max Per Stock', ascending=False)

   Symbol  Daily Max Per Stock
2      BA            28.740021
7      GS            14.490005
23    UNH            13.290009
8      HD            12.419998
6     DIS            10.139999
0    AAPL             8.869995
3     CAT             8.339997
15    MMM             7.739991
24      V             7.209999
9     IBM             7.130005
14    MCD             6.829987
16    MRK             6.020001
5     CVX             5.980003
26    WBA             5.960007
17   MSFT             5.419999
12    JPM             5.260003
22    TRV             5.050003
1     AXP             4.720001
27    WMT             4.500000
18    NKE             4.310005
11    JNJ             3.919998
21    RTX             3.555694
28    XOM             3.440003
20     PG             2.669998
10   INTC             2.270000
4    CSCO             1.839996
19    PFE             1.720001
25     VZ             1.700001
13     KO             1.400002

In [15]:
min_value= stocks_df["Daily Change"].min()
max_loss_profit=stocks_df.loc[(stocks_df['Daily Change']== min_value)]
max_loss_profit

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change
4978,10/18/19,369.0,369.350006,344.0,344.0,13544300,BA,The Boeing Company,Aerospace & Defense,Industrials,-25.0

In [16]:
stocks_df['Date']= pd.to_datetime(stocks_df['Date'])
stocks_df['Week Number']= stocks_df['Date'].dt.week
stocks_df['Year']= stocks_df['Date'].dt.year
stocks_df
weekly_change= stocks_df.groupby(['Symbol','Year','Week Number']).agg({'Open':'first','Close':'last'})

In [17]:
weekly_change

                               Open       Close
Symbol Year Week Number
AAPL   2015 1            111.389999  109.330002
            2            108.290001  112.010002
            3            112.599998  105.989998
            4            107.839996  112.980003
            5            113.739998  117.160004
...                             ...         ...
XOM    2019 48            69.370003   68.129997
            49            68.500000   69.510002
            50            69.080002   69.230003
            51            69.699997   69.940002
            52            69.860001   69.889999

[7569 rows x 2 columns]

In [18]:
weekly_change=weekly_change.reset_index()

In [19]:
weekly_change['Weekly Change'] = weekly_change['Close'] - weekly_change['Open']

In [20]:
weekly_change

     Symbol  Year  Week Number        Open       Close  Weekly Change
0      AAPL  2015            1  111.389999  109.330002      -2.059997
1      AAPL  2015            2  108.290001  112.010002       3.720001
2      AAPL  2015            3  112.599998  105.989998      -6.610000
3      AAPL  2015            4  107.839996  112.980003       5.140007
4      AAPL  2015            5  113.739998  117.160004       3.420006
...     ...   ...          ...         ...         ...            ...
7564    XOM  2019           48   69.370003   68.129997      -1.240006
7565    XOM  2019           49   68.500000   69.510002       1.010002
7566    XOM  2019           50   69.080002   69.230003       0.150001
7567    XOM  2019           51   69.699997   69.940002       0.240005
7568    XOM  2019           52   69.860001   69.889999       0.029998

[7569 rows x 6 columns]

In [21]:
stocks_df

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change,Week Number,Year
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.059997,1,2015
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.040001,2,2015
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology,-0.279999,2,2015
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology,0.550003,2,2015
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology,2.659996,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36448,2019-12-23,58.709999,59.000000,58.419998,58.570000,4813200,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.139999,52,2019
36449,2019-12-24,58.900002,58.919998,58.279999,58.349998,1475400,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.550004,52,2019
36450,2019-12-26,58.340000,59.020000,58.299999,58.900002,2736100,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.560002,52,2019
36451,2019-12-27,58.919998,59.029999,58.380001,59.020000,3647600,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.100002,52,2019
36452,2019-12-30,59.090000,59.599998,58.810001,58.910000,3264500,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.180000,1,2019

In [23]:
stocks_df['Date']= pd.to_datetime(stocks_df['Date'])
stocks_df['Month Number']= stocks_df['Date'].dt.month
stocks_df['Year']= stocks_df['Date'].dt.year
stocks_df

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change,Week Number,Year,Month Number
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.059997,1,2015,1
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.040001,2,2015,1
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology,-0.279999,2,2015,1
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology,0.550003,2,2015,1
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology,2.659996,2,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36448,2019-12-23,58.709999,59.000000,58.419998,58.570000,4813200,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.139999,52,2019,12
36449,2019-12-24,58.900002,58.919998,58.279999,58.349998,1475400,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.550004,52,2019,12
36450,2019-12-26,58.340000,59.020000,58.299999,58.900002,2736100,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.560002,52,2019,12
36451,2019-12-27,58.919998,59.029999,58.380001,59.020000,3647600,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.100002,52,2019,12
36452,2019-12-30,59.090000,59.599998,58.810001,58.910000,3264500,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.180000,1,2019,12

In [24]:
monthly_change= stocks_df.groupby(['Symbol','Year','Month Number']).agg({'Open':'first','Close':'last'})
monthly_change

                                Open       Close
Symbol Year Month Number
AAPL   2015 1             111.389999  117.160004
            2             118.050003  128.460007
            3             129.250000  124.430000
            4             124.820000  125.150002
            5             126.099998  130.279999
...                              ...         ...
XOM    2019 8              73.739998   68.480003
            9              67.889999   70.610001
            10             70.830002   67.570000
            11             68.389999   68.129997
            12             68.500000   69.480003

[1740 rows x 2 columns]

In [36]:
monthly_change['Monthly Change'] = monthly_change['Close'] - monthly_change['Open']

In [37]:
monthly_change

     Symbol  Year  Month Number        Open       Close  Monthly Change
0      AAPL  2015             1  111.389999  117.160004        5.770005
1      AAPL  2015             2  118.050003  128.460007       10.410004
2      AAPL  2015             3  129.250000  124.430000       -4.820000
3      AAPL  2015             4  124.820000  125.150002        0.330002
4      AAPL  2015             5  126.099998  130.279999        4.180001
...     ...   ...           ...         ...         ...             ...
1735    XOM  2019             8   73.739998   68.480003       -5.259995
1736    XOM  2019             9   67.889999   70.610001        2.720002
1737    XOM  2019            10   70.830002   67.570000       -3.260002
1738    XOM  2019            11   68.389999   68.129997       -0.260002
1739    XOM  2019            12   68.500000   69.480003        0.980003

[1740 rows x 6 columns]

In [25]:
monthly_change=monthly_change.reset_index()

In [29]:
result = stocks_df['Date'].dt.quarter 
result

0        1
1        1
2        1
3        1
4        1
        ..
36448    4
36449    4
36450    4
36451    4
36452    4
Name: Date, Length: 36453, dtype: int64

In [31]:
stocks_df['Date']= pd.to_datetime(stocks_df['Date'])
stocks_df['Month Number']= stocks_df['Date'].dt.month
stocks_df['Year']= stocks_df['Date'].dt.year
stocks_df['Quarter']= stocks_df['Date'].dt.quarter
stocks_df

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change,Week Number,Year,Month Number,Quarter
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.059997,1,2015,1,1
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.040001,2,2015,1,1
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology,-0.279999,2,2015,1,1
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology,0.550003,2,2015,1,1
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology,2.659996,2,2015,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36448,2019-12-23,58.709999,59.000000,58.419998,58.570000,4813200,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.139999,52,2019,12,4
36449,2019-12-24,58.900002,58.919998,58.279999,58.349998,1475400,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.550004,52,2019,12,4
36450,2019-12-26,58.340000,59.020000,58.299999,58.900002,2736100,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.560002,52,2019,12,4
36451,2019-12-27,58.919998,59.029999,58.380001,59.020000,3647600,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.100002,52,2019,12,4
36452,2019-12-30,59.090000,59.599998,58.810001,58.910000,3264500,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.180000,1,2019,12,4

In [32]:
quarterly_change= stocks_df.groupby(['Symbol','Year','Quarter']).agg({'Open':'first','Close':'last'})
quarterly_change

                           Open       Close
Symbol Year Quarter
AAPL   2015 1        111.389999  124.430000
            2        124.820000  125.430000
            3        126.900002  110.300003
            4        109.070000  105.260002
       2016 1        102.610001  108.989998
...                         ...         ...
XOM    2018 4         85.349998   68.190002
       2019 1         67.349998   80.800003
            2         81.230003   76.629997
            3         77.129997   70.610001
            4         70.830002   69.480003

[580 rows x 2 columns]

In [34]:
quarterly_change['Quarterly Change'] = quarterly_change['Close'] - quarterly_change['Open']

In [35]:
quarterly_change

    Symbol  Year  Quarter        Open       Close  Quarterly Change
0     AAPL  2015        1  111.389999  124.430000         13.040001
1     AAPL  2015        2  124.820000  125.430000          0.610000
2     AAPL  2015        3  126.900002  110.300003        -16.599999
3     AAPL  2015        4  109.070000  105.260002         -3.809998
4     AAPL  2016        1  102.610001  108.989998          6.379997
..     ...   ...      ...         ...         ...               ...
575    XOM  2018        4   85.349998   68.190002        -17.159996
576    XOM  2019        1   67.349998   80.800003         13.450005
577    XOM  2019        2   81.230003   76.629997         -4.600006
578    XOM  2019        3   77.129997   70.610001         -6.519996
579    XOM  2019        4   70.830002   69.480003         -1.349999

[580 rows x 6 columns]

In [33]:
quarterly_change=quarterly_change.reset_index()