In [1]:
import pandas as pd
import scipy as stats
from datetime import datetime

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
individual_data= "Dow Data/DOW Data.csv"
individual_industry= 'Dow Data/DOW Names.csv'

In [4]:
individual_df = pd.read_csv(individual_data)
industry_df= pd.read_csv(individual_industry)

In [7]:
individual_df

,Date,Open,High,Low,Close,Volume,Symbol
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL
...,...,...,...,...,...,...,...
36448,12/23/19,58.709999,59.000000,58.419998,58.570000,4813200,WBA
36449,12/24/19,58.900002,58.919998,58.279999,58.349998,1475400,WBA
36450,12/26/19,58.340000,59.020000,58.299999,58.900002,2736100,WBA
36451,12/27/19,58.919998,59.029999,58.380001,59.020000,3647600,WBA
36452,12/30/19,59.090000,59.599998,58.810001,58.910000,3264500,WBA

In [6]:
industry_df

,Stock Name,Ticker,Industry,Sector
0,3M Company,MMM,Specialty Industrial Machinery,Industrials
1,American Express Company,AXP,Credit Services,Financial Services
2,Apple Inc.,AAPL,Consumer Electronics,Technology
3,The Boeing Company,BA,Aerospace & Defense,Industrials
4,Caterpillar Inc.,CAT,Farm & Heavy Construction Machinery,Industrials
5,Chevron Corporation,CVX,Oil & Gas Integrated,Energy
6,"Cisco Systems, Inc.",CSCO,Communication Equipment,Technology
7,The Coca-Cola Company,KO,Beverages?Non-Alcoholic,Consumer Defensive
8,The Walt Disney Company,DIS,Entertainment,Communication Services
9,Dow Inc.,DOW,Chemicals,Basic Materials
10,Exxon Mobil Corporation,XOM,Oil & Gas Integrated,Energy
11,"The Goldman Sachs Group, Inc.",GS,Capital Markets,Financial Services
12,"The Home Depot, Inc.",HD,Home Improvement Retail,Consumer Cyclical
13,International Business Machines Corporation,IBM,Information Technology Services,Technology
14,Intel Corporation,INTC,Semiconductors,Technology
15,Johnson & Johnson,JNJ,Drug Manufacturers?General,Healthcare
16,JPMorgan Chase & Co.,JPM,Banks?Diversified,Financial Services
17,McDonald's Corporation,MCD,Restaurants,Consumer Cyclical
18,"Merck & Co., Inc.",MRK,Drug Manufacturers?General,Healthcare
19,Microsoft Corporation,MSFT,Software?Infrastructure,Technology
20,"NIKE, Inc.",NKE,Footwear & Accessories,Consumer Cyclical
21,Pfizer Inc.,PFE,Drug Manufacturers?General,Healthcare
22,The Procter & Gamble Company,PG,Household & Personal Products,Consumer Defensive
23,"The Travelers Companies, Inc.",TRV,Insurance?Property & Casualty,Financial Services
24,Raytheon Technologies Corporation,RTX,Aerospace & Defense,Industrials
25,UnitedHealth,UNH,Healthcare Plans,Healthcare
26,Verizon Communications Inc.,VZ,Telecom Services,Communication Services
27,Visa Inc.,V,Credit Services,Financial Services
28,"Walgreens Boots Alliance, Inc",WBA,Pharmaceutical Retailers,Healthcare
29,Wal-Mart Inc.,WMT,Discount Stores,Consumer Defensive

In [10]:
industry_df.rename(columns = {'Ticker':'Symbol'}, inplace=True)
stocks_df=individual_df.merge(industry_df, on="Symbol")
stocks_df.head(10)

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology
5,1/9/15,112.669998,113.250000,110.209999,112.010002,53699500,AAPL,Apple Inc.,Consumer Electronics,Technology
6,1/12/15,112.599998,112.629997,108.800003,109.250000,49650800,AAPL,Apple Inc.,Consumer Electronics,Technology
7,1/13/15,111.430000,112.800003,108.910004,110.220001,67091900,AAPL,Apple Inc.,Consumer Electronics,Technology
8,1/14/15,109.040001,110.489998,108.500000,109.800003,48956600,AAPL,Apple Inc.,Consumer Electronics,Technology
9,1/15/15,110.000000,110.059998,106.660004,106.820000,60014000,AAPL,Apple Inc.,Consumer Electronics,Technology

In [12]:
stocks_df['Daily Change'] = stocks_df['Open'] - stocks_df['Close']
max_value=stocks_df["Daily Change"].max()
max_day_profit=stocks_df.loc[(stocks_df['Daily Change']== max_value)]
max_day_profit

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change
4978,10/18/19,369.0,369.350006,344.0,344.0,13544300,BA,The Boeing Company,Aerospace & Defense,Industrials,25.0

In [13]:
group_by_individual = stocks_df.groupby('Symbol')
daily_max_per_stock=group_by_individual['Daily Change'].max()
stock_daily_max=pd.DataFrame({"Daily Max Per Stock": daily_max_per_stock})
stock_daily_max.head()

        Daily Max Per Stock
Symbol
AAPL               9.100006
AXP                5.410004
BA                25.000000
CAT               15.309998
CSCO               2.090000

In [15]:
stock_daily_max = stock_daily_max.reset_index()
stock_daily_max.loc[stock_daily_max['Symbol']=='BA']

   index Symbol  Daily Max Per Stock
2      2     BA                 25.0

In [16]:
stock_daily_max.sort_values('Daily Max Per Stock', ascending=False)

    index Symbol  Daily Max Per Stock
2       2     BA            25.000000
23     23    UNH            17.049988
7       7     GS            15.949997
3       3    CAT            15.309998
15     15    MMM            12.059998
11     11    JNJ            11.339996
8       8     HD             9.919998
0       0   AAPL             9.100006
26     26    WBA             7.090004
24     24      V             7.050003
14     14    MCD             6.720001
27     27    WMT             6.580002
22     22    TRV             6.510009
17     17   MSFT             6.090004
9       9    IBM             5.979995
6       6    DIS             5.449997
1       1    AXP             5.410004
5       5    CVX             5.369995
12     12    JPM             5.230004
21     21    RTX             5.135308
20     20     PG             4.849998
18     18    NKE             4.720002
16     16    MRK             4.220001
28     28    XOM             3.559998
10     10   INTC             2.770001
25     25     VZ             2.259998
4       4   CSCO             2.090000
19     19    PFE             1.860001
13     13     KO             1.760003

In [17]:
min_value= stocks_df["Daily Change"].min()
max_loss_profit=stocks_df.loc[(stocks_df['Daily Change']== min_value)]
max_loss_profit

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change
4823,3/11/19,371.269989,402.670013,365.549988,400.01001,34742200,BA,The Boeing Company,Aerospace & Defense,Industrials,-28.740021

In [63]:
stocks_df['Date']= pd.to_datetime(stocks_df['Date'])
stocks_df['Week Number']= stocks_df['Date'].dt.week
stocks_df['Year']= stocks_df['Date'].dt.year
stocks_df
# weekly_change= stocks_df.groupby(['Symbol','Year','Week Number']).agg({'open':'Open','close':'Close'})

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector,Daily Change,Week Number,Year
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology,2.059997,1,2015
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology,2.040001,2,2015
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology,0.279999,2,2015
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology,-0.550003,2,2015
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology,-2.659996,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36448,2019-12-23,58.709999,59.000000,58.419998,58.570000,4813200,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.139999,52,2019
36449,2019-12-24,58.900002,58.919998,58.279999,58.349998,1475400,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.550004,52,2019
36450,2019-12-26,58.340000,59.020000,58.299999,58.900002,2736100,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.560002,52,2019
36451,2019-12-27,58.919998,59.029999,58.380001,59.020000,3647600,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,-0.100002,52,2019
36452,2019-12-30,59.090000,59.599998,58.810001,58.910000,3264500,WBA,"Walgreens Boots Alliance, Inc",Pharmaceutical Retailers,Healthcare,0.180000,1,2019

In [20]:
# stocks_df['Date']= stocks_df['Date'].astype('datetime64[ns]')
# stocks_df['Date']=pd.to_datetime(stocks_df['Date'])
# weekly_stocks_df=stocks_df.set_index('Date')
# weekly_stocks_df.sort_index(inplace=True)

# def take_first(array_like):
#     return array_like[0]

# def take_last(array_like):
#     return array_like[-1]

# output= weekly_stocks_df.resample('W',
#                           loffset=pd.offsets.timedelta(days=6))
# output= output[['Open','High','Low','Close','Volume','Symbol']]

In [21]:
output.head()

                  Open        High         Low       Close    Volume Symbol
Date
2015-01-02  111.389999  111.440002  107.349998  109.330002  53204600   AAPL
2015-01-02   94.910004   95.279999   92.849998   93.750000   5865400    DIS
2015-01-02   90.839996   91.000000   89.919998   90.440002   7251400     PG
2015-01-02   72.460670   72.775330   71.617371   72.397736   4989600    RTX
2015-01-02   27.860001   28.120001   27.379999   27.610001  22926500   CSCO
...                ...         ...         ...         ...       ...    ...
2019-12-30   70.089996   70.440002   69.400002   69.480003  12689400    XOM
2019-12-30  145.750000  145.869995  143.399994  143.770004   6602800    DIS
2019-12-30  158.990005  159.020004  156.729996  157.589996  16348400   MSFT
2019-12-30   39.299999   39.419998   38.889999   38.910000  10962300    PFE
2019-12-30   55.180000   55.389999   55.060001   55.270000   6431700     KO

[1310 rows x 6 columns]

In [23]:
beg_week=output.nth(0)
beg_weekly_change_df=pd.DataFrame(beg_week['Open'])
beg_weekly_change_df['Symbol']= beg_week["Symbol"]
beg_weekly_change_df['Close']= beg_week['Close']
beg_weekly_change_df= beg_weekly_change_df.reset_index()

In [44]:
end_week= output.nth(-1)
end_weekly_change_df=pd.DataFrame(end_week['Close'])
end_weekly_change_df['Symbol']= end_week['Symbol']
end_weekly_change_df['Open']= end_week['Open']
end_weekly_change_df = end_weekly_change_df.reset_index()

In [45]:
end_weekly_change_df= end_weekly_change_df.sort_values(by= ['Symbol','Date'], ascending= (True,True))
end_weekly_change_df

          Date       Close Symbol        Open
35  2015-09-06  109.269997   AAPL  108.970001
47  2015-11-29  117.809998   AAPL  118.290001
78  2016-07-03   95.889999   AAPL   95.489998
79  2016-07-10   96.680000   AAPL   96.489998
92  2016-10-09  114.059998   AAPL  114.309998
..         ...         ...    ...         ...
14  2015-04-12   85.559998    XOM   85.370003
123 2017-05-14   82.550003    XOM   82.389999
129 2017-06-25   81.610001    XOM   80.849998
151 2017-11-26   81.419998    XOM   81.440002
163 2018-02-18   76.540001    XOM   76.150002

[262 rows x 4 columns]

In [46]:
beg_weekly_change_df= beg_weekly_change_df.sort_values(by= ['Symbol','Date'], ascending= (True,True))
beg_weekly_change_df

          Date        Open Symbol       Close
0   2015-01-04  111.389999   AAPL  109.330002
13  2015-04-05  124.050003   AAPL  126.370003
40  2015-10-11  109.879997   AAPL  110.779999
50  2015-12-20  112.180000   AAPL  112.480003
74  2016-06-05   99.599998   AAPL   99.860001
..         ...         ...    ...         ...
210 2019-01-13   71.250000    XOM   71.519997
237 2019-07-21   77.629997    XOM   77.080002
253 2019-11-10   70.070000    XOM   71.669998
256 2019-12-01   69.370003    XOM   68.910004
261 2020-01-05   70.089996    XOM   69.480003

[262 rows x 4 columns]

In [48]:
weekly_change_df=pd.merge(beg_weekly_change_df,end_weekly_change_df, how= 'right', left_on=["Date","Symbol"], right_on= ["Date","Symbol"])

In [57]:
weekly_change_df.loc[(weekly_change_df['Date']== "2015-01-04")& (weekly_change_df['Symbol']== "AAPL")]

Empty DataFrame
Columns: [Date, Open_x, Symbol, Close_x, Close_y, Open_y]
Index: []

In [58]:
beg_weekly_change_df.loc[(beg_weekly_change_df['Date']== "2015-01-04")& (beg_weekly_change_df['Symbol']== "AAPL")]

        Date        Open Symbol       Close
0 2015-01-04  111.389999   AAPL  109.330002

In [59]:
end_weekly_change_df.loc[(end_weekly_change_df['Date']== "2015-01-04")& (end_weekly_change_df['Symbol']== "AAPL")]

Empty DataFrame
Columns: [Date, Close, Symbol, Open]
Index: []