In [1]:
import pandas as pd
import scipy as stats

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

s_p_500_data = 'Pandas Data/sandp500/^GSPC.csv'
individual_data = 'Pandas Data/sandp500/all_stocks_5yr.csv'
individual_industry = 'Pandas Data/s-and-p-500-companies-financials-master/data/constituents.csv'

s_p_df = pd.read_csv(s_p_500_data)
individual_df = pd.read_csv(individual_data)
industry_df= pd.read_csv(individual_industry)

In [2]:
individual_df.rename(columns = {'Name':'Symbol'}, inplace=True)
stocks_df=individual_df.merge(industry_df, on="Symbol")
stocks_df.head(10)

,date,open,high,low,close,volume,Symbol,Name,Sector
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,American Airlines Group,Industrials
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,American Airlines Group,Industrials
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,American Airlines Group,Industrials
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,American Airlines Group,Industrials
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,American Airlines Group,Industrials
5,2013-02-15,13.93,14.61,13.93,14.50,15628000,AAL,American Airlines Group,Industrials
6,2013-02-19,14.33,14.56,14.08,14.26,11354400,AAL,American Airlines Group,Industrials
7,2013-02-20,14.17,14.26,13.15,13.33,14725200,AAL,American Airlines Group,Industrials
8,2013-02-21,13.62,13.95,12.90,13.37,11922100,AAL,American Airlines Group,Industrials
9,2013-02-22,13.57,13.60,13.21,13.57,6071400,AAL,American Airlines Group,Industrials

In [3]:
#Maximum Profit booked in a single day?
stocks_df['Daily Change'] = stocks_df['open'] - stocks_df['close']
max_value=stocks_df["Daily Change"].max()
max_day_profit=stocks_df.loc[(stocks_df['Daily Change']== max_value)]
max_day_profit

,date,open,high,low,close,volume,Symbol,Name,Sector,Daily Change
441257,2017-11-07,1746.7,1748.0,1638.1,1645.72,3325104,PCLN,Priceline.com Inc,Consumer Discretionary,100.98

In [4]:
group_by_individual = stocks_df.groupby('Symbol')
daily_max_per_stock=group_by_individual['Daily Change'].max()
stock_daily_max=pd.DataFrame({"Daily Max Per Stock": daily_max_per_stock})
stock_daily_max.head()

        Daily Max Per Stock
Symbol
A                      2.70
AAL                    4.50
AAP                    9.11
AAPL                   7.37
ABBV                   5.61

In [5]:
stock_daily_max = stock_daily_max.reset_index()
stock_daily_max.loc[stock_daily_max['Symbol']=='PCLN']

    Symbol  Daily Max Per Stock
360   PCLN               100.98

In [6]:
stock_daily_max.sort_values('Daily Max Per Stock', ascending=False)

    Symbol  Daily Max Per Stock
360   PCLN               100.98
105    CMG                75.81
38    AMZN                55.00
206   GOOG                43.27
393   REGN                38.57
..     ...                  ...
394     RF                 0.87
489     WU                 0.85
217   HBAN                 0.82
348    NWS                 0.81
16     AES                 0.69

[505 rows x 2 columns]

In [7]:
#Maximum Loss Booked in a single Day
min_value= stocks_df["Daily Change"].min()
max_loss_profit=stocks_df.loc[(stocks_df['Daily Change']== min_value)]
max_loss_profit

,date,open,high,low,close,volume,Symbol,Name,Sector,Daily Change
47644,2018-02-06,1361.46,1443.99,1351.79,1442.84,11066819,AMZN,Amazon.com Inc,Consumer Discretionary,-81.38

In [8]:
stocks_df= stocks_df.merge(stock_daily_max, on= "Symbol")
industry_df= stocks_df.groupby("Sector")
industry_df.head()

,date,open,high,low,close,volume,Symbol,Name,Sector,Daily Change,Daily Max Per Stock
0,2013-02-08,15.0700,15.1200,14.6300,14.7500,8407500,AAL,American Airlines Group,Industrials,0.3200,4.50
1,2013-02-11,14.8900,15.0100,14.2600,14.4600,8882000,AAL,American Airlines Group,Industrials,0.4300,4.50
2,2013-02-12,14.4500,14.5100,14.1000,14.2700,8126000,AAL,American Airlines Group,Industrials,0.1800,4.50
3,2013-02-13,14.3000,14.9400,14.2500,14.6600,10259500,AAL,American Airlines Group,Industrials,-0.3600,4.50
4,2013-02-14,14.9400,14.9600,13.1600,13.9900,31879900,AAL,American Airlines Group,Industrials,0.9500,4.50
1259,2013-02-08,67.7142,68.4014,66.8928,67.8542,158168416,AAPL,Apple Inc.,Information Technology,-0.1400,7.37
1260,2013-02-11,68.0714,69.2771,67.6071,68.5614,129029425,AAPL,Apple Inc.,Information Technology,-0.4900,7.37
1261,2013-02-12,68.5014,68.9114,66.8205,66.8428,151829363,AAPL,Apple Inc.,Information Technology,1.6586,7.37
1262,2013-02-13,66.7442,67.6628,66.1742,66.7156,118721995,AAPL,Apple Inc.,Information Technology,0.0286,7.37
1263,2013-02-14,66.3599,67.3771,66.2885,66.6556,88809154,AAPL,Apple Inc.,Information Technology,-0.2957,7.37
2518,2013-02-08,78.3400,79.7200,78.0100,78.9000,1298137,AAP,Advance Auto Parts,Consumer Discretionary,-0.5600,9.11
2519,2013-02-11,78.6500,78.9100,77.2300,78.3900,758016,AAP,Advance Auto Parts,Consumer Discretionary,0.2600,9.11
2520,2013-02-12,78.3900,78.6300,77.5132,78.6000,876859,AAP,Advance Auto Parts,Consumer Discretionary,-0.2100,9.11
2521,2013-02-13,78.9000,79.1300,77.8500,78.9700,1038574,AAP,Advance Auto Parts,Consumer Discretionary,-0.0700,9.11
2522,2013-02-14,78.6600,79.7200,78.5850,78.8400,1005376,AAP,Advance Auto Parts,Consumer Discretionary,-0.1800,9.11
3777,2013-02-08,36.3700,36.4200,35.8250,36.2500,13858795,ABBV,AbbVie Inc.,Health Care,0.1200,5.61
3778,2013-02-11,36.1300,36.1800,35.7500,35.8500,6031957,ABBV,AbbVie Inc.,Health Care,0.2800,5.61
3779,2013-02-12,35.7700,35.9000,35.2000,35.4200,7473991,ABBV,AbbVie Inc.,Health Care,0.3500,5.61
3780,2013-02-13,35.4200,35.5700,35.1500,35.2700,4860053,ABBV,AbbVie Inc.,Health Care,0.1500,5.61
3781,2013-02-14,35.0500,36.7300,35.0100,36.5700,7570052,ABBV,AbbVie Inc.,Health Care,-1.5200,5.61
11331,2013-02-08,30.3100,30.4800,30.1600,30.2200,4789484,ADM,Archer-Daniels-Midland Co,Consumer Staples,0.0900,2.25
11332,2013-02-11,30.2600,30.4450,30.1300,30.2800,4418487,ADM,Archer-Daniels-Midland Co,Consumer Staples,-0.0200,2.25
11333,2013-02-12,30.2200,30.8300,30.0800,30.8100,5535196,ADM,Archer-Daniels-Midland Co,Consumer Staples,-0.5900,2.25
11334,2013-02-13,30.9100,31.1600,30.6600,31.1600,6749912,ADM,Archer-Daniels-Midland Co,Consumer Staples,-0.2500,2.25
11335,2013-02-14,31.0300,31.5400,30.9600,31.4000,7250119,ADM,Archer-Daniels-Midland Co,Consumer Staples,-0.3700,2.25
16367,2013-02-08,32.7900,32.7900,32.4900,32.6100,1834481,AEE,Ameren Corp,Utilities,0.1800,2.00
16368,2013-02-11,32.6500,32.8800,32.6500,32.8400,1287610,AEE,Ameren Corp,Utilities,-0.1900,2.00
16369,2013-02-12,32.8300,33.1600,32.7201,33.1500,1875404,AEE,Ameren Corp,Utilities,-0.3200,2.00
16370,2013-02-13,33.2000,33.3900,33.1200,33.2800,1677370,AEE,Ameren Corp,Utilities,-0.0800,2.00
16371,2013-02-14,33.2000,33.2400,32.9400,33.1400,1489040,AEE,Ameren Corp,Utilities,0.0600,2.00
21403,2013-02-08,50.3800,50.5000,50.0800,50.3500,4175138,AFL,AFLAC Inc,Financials,0.0300,6.06
21404,2013-02-11,50.3600,50.3900,50.1100,50.2600,3321756,AFL,AFLAC Inc,Financials,0.1000,6.06
21405,2013-02-12,50.1100,50.2200,49.4200,49.5000,7704847,AFL,AFLAC Inc,Financials,0.6100,6.06
21406,2013-02-13,49.4300,49.5400,48.4900,48.6500,6063028,AFL,AFLAC Inc,Financials,0.7800,6.06
21407,2013-02-14,48.4300,48.9300,48.1724,48.8300,4984415,AFL,AFLAC Inc,Financials,-0.4000,6.06
25180,2013-02-08,27.4000,28.6650,27.2675,28.5700,1801890,AIV,Apartment Investment & Management,Real Estate,-1.1700,1.93
25181,2013-02-11,28.5700,29.0100,28.5700,28.9200,2555514,AIV,Apartment Investment & Management,Real Estate,-0.3500,1.93
25182,2013-02-12,28.8700,29.1600,28.7800,29.1600,1558832,AIV,Apartment Investment & Management,Real Estate,-0.2900,1.93
25183,2013-02-13,29.0300,29.1100,28.7050,28.9000,773318,AIV,Apartment Investment & Management,Real Estate,0.1300,1.93
25184,2013-02-14,28.8200,29.0300,28.7550,28.9700,990470,AIV,Apartment Investment & Management,Real Estate,-0.1500,1.93
30216,2013-02-08,61.7800,63.0200,61.7800,62.6600,422698,ALB,Albemarle Corp,Materials,-0.8800,6.11
30217,2013-02-11,62.6800,62.9400,62.3960,62.7600,428135,ALB,Albemarle Corp,Materials,-0.0800,6.11
30218,2013-02-12,62.4500,62.9400,62.2700,62.7000,376294,ALB,Albemarle Corp,Materials,-0.2500,6.11
30219,2013-02-13,64.0500,66.8300,64.0500,66.1500,1949005,ALB,Albemarle Corp,Materials,-2.1000,6.11
30220,2013-02-14,65.8500,65.9900,65.2803,65.4100,585215,ALB,Albemarle Corp,Materials,0.4400,6.11
47646,2013-02-08,52.4600,54.0100,52.4600,53.8600,3366384,ANDV,Andeavor,Energy,-1.4000,12.25
47647,2013-02-11,54.4400,55.0000,54.0000,54.5500,3681623,ANDV,Andeavor,Energy,-0.1100,12.25
47648,2013-02-12,54.7000,54.9500,53.0950,53.4900,4234809,ANDV,Andeavor,Energy,1.2100,12.25
47649,2013-02-13,53.5500,54.4900,53.4000,54.0700,2664552,ANDV,Andeavor,Energy,-0.5200,12.25
47650,2013-02-14,54.1500,55.5799,53.7300,55.1800,3266120,ANDV,Andeavor,Energy,-1.0300,12.25
148769,2013-02-08,41.1700,41.3800,41.1000,41.3600,4276175,CTL,CenturyLink Inc,Telecommunication Services,-0.1900,5.53
148770,2013-02-11,41.2900,41.5900,41.2700,41.5100,3009444,CTL,CenturyLink Inc,Telecommunication Services,-0.2200,5.53
148771,2013-02-12,41.5700,42.0100,41.4300,41.7600,6403569,CTL,CenturyLink Inc,Telecommunication Services,-0.1900,5.53
148772,2013-02-13,41.7700,41.8800,41.4600,41.6900,8139116,CTL,CenturyLink Inc,Telecommunication Services,0.0800,5.53
148773,2013-02-14,33.9700,34.1500,32.0500,32.2700,70769166,CTL,CenturyLink Inc,Telecommunication Services,1.7000,5.53

In [9]:
industry_df.

SyntaxError: invalid syntax (<ipython-input-9-76b708b8e781>, line 1)